*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: black;
    --main-fg: white;
    --main-seperator: rgb(255 255 255 / .1);
    --overlay-bg: rgb(138 43 226 / .7);
    --overlay-bg-light: rgb(138 43 226 / .2);
    --overlay-light: rgba(255, 255, 255, 0.5);
    --overlay-dark: rgba(0, 0, 0, 0.9);
    --accent-bg: blueviolet;
    --accent-fg: white;
    --accent-border: rgb(150 39 253 / .5);
    --accent-warning: red;
    --pop-border-section: rgba(72, 255, 0, 0.6);
    --pop-border-article: rgb(255 165 0 / .6);
    --pop-border-hover: rgb(0 255 255 / .8);
    --loading-bg: rgb(0 136 255 / .2);
    --mfsa-bg: #01005b;
    --ka-bg: #08799a;

    --font-normal: 0.8rem;
    --font-small: 0.6rem;
    --font-h1: 2rem;
    --font-h2: 1.1rem;
    --font-h3: 1.1rem;
    --font-section-nav: 0.8rem;
    --font-message: 0.8rem;
    --font-warning: 0.7rem;

    --offset-header: max(15vh, 3em);
    --offset-footer: max(5vh, 3em);

    scroll-padding-top: var(--offset-header);
}

body {
    background-color: var(--main-bg);
    color: var(--main-fg);
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    font-size: var(--font-normal);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

nav>ul[aria-expanded] {
    transition: transform 150ms ease-out;
    transform-origin: top;
}

nav>ul[aria-expanded="false"] {
    transform: scaleY(0);
}

nav>ul[aria-expanded="true"] {
    transform: scaleY(1);
}

ul[aria-expanded="false"]:not(nav>ul) {
    display: none;
}

ul[aria-expanded="true"]:not(nav>ul) {
    display: initial;
}

ul[aria-expanded="true"]:not(nav>ul, section ul) li {
    background-color: var(--overlay-bg-light);
}

header {
    position: fixed;
    background-color: var(--main-bg);
    inset: 0 0 auto 0;
    border-bottom: 2px solid var(--accent-bg);
    display: grid;
    grid-template-areas:
        "title title"
        "switch nav";
    gap: 0.5em;
    align-items: center;
    padding: 0.5em;
    height: var(--offset-header);
    box-shadow: 0px 2px 10px 0px black;
    z-index: 1000;
}

header::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 6px;
    width: 110%;
    background-image: linear-gradient(90deg, transparent 55%, var(--accent-border) 90%, transparent);
    animation: glow 6s linear infinite;
    transform-origin: left;
}

@keyframes glow {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(2);
    }
}

.title {
    grid-area: title;
    text-align: center;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
    border-bottom: 1px solid var(--pop-border-article);
    margin: 0.5em 0;
}

.switch {
    font-size: var(--font-small);
    font-style: italic;
    grid-area: switch;
    text-decoration: line-through;
}

.switch::before {
    content: "";
    padding: 1em;
    margin-right: 0.5em;
    position: relative;
    background-image: url(./../img/icons/switch.svg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.switch:hover {
    border: 1px dashed var(--accent-bg);
}

.switch:hover::after {
    content: "Denna knapp kommer i framtiden användas för att växla mellan användarstöden för MSFA och KA";
    position: absolute;
    background-color: black;
    padding: 1em;
    font-size: 1.2em;
    z-index: 1000;
    top: 100%;
    left: 0;
    border: 1px dashed var(--accent-bg);
}

nav {
    position: relative;
    grid-area: nav;
    justify-self: right;
}

nav .close {
    position: sticky;
    --button-padding: 15px;
    top: 1em;
    left: 100%;
    padding: var(--button-padding);
    z-index: 99;
    background-image: url(./../img/icons/close.svg);
    background-position: center;
    background-size: 80%;
    background-color: rgb(255 255 255 / .8);
    border: none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 100vh;
    box-shadow: 0 0 4px 2px var(--accent-bg);
}

nav>span {
    font-size: var(--font-small);
}

nav>span::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    background-image: url(./../img/icons/expand.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav>ul {
    position: fixed;
    inset: 0;
    overflow: scroll;
    background-color: var(--main-bg);
    background-image: linear-gradient(var(--overlay-bg) 25vh, transparent);
    margin-bottom: var(--offset-footer);
}

nav li {
    padding-left: 1.5em;
    border: 1px solid var(--accent-border);
}

nav li span,
nav li a {
    --icon-src: url(./../img/icons/expand.svg);
    position: relative;
    display: block;
    padding: 0.5em;
}

nav li span {
    --icon-size: 1em;
    --icon-offset: calc(var(--icon-size) + 2em);
    padding-right: var(--icon-offset);
}

nav li a {
    --icon-size: 1em;
    --icon-offset: calc(var(--icon-size) + 1.5em);
    padding-right: var(--icon-offset);
}

nav li span::after,
nav li a::after {
    content: "";
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    background-image: var(--icon-src);
    background-position: center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    right: var(--icon-size);
}

nav li a::after {
    --icon-src: url(./../img/icons/goto.svg);
}

main {
    margin-top: var(--offset-header);
    margin-bottom: var(--offset-footer);
}

section {
    border-bottom: 1px solid var(--pop-border-section);
    margin-bottom: 4em;
}

.expand:not(button)::after {
    content: "";
    display: inline-block;
    margin-left: 0.5em;
    height: 0.8em;
    width: 1em;
    background-image: url(./../img/icons/expand.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.expandable {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

.expandable[aria-expanded="false"] *:not(:first-child) {
    display: none;
}

.expandable label {
    position: relative;
    display: grid;
    grid-template-columns: auto 2em;
}


label:hover,
.expand:hover {
    cursor: pointer;
}

.expandable .expand {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border: none;
}

.expandable[aria-expanded="false"] .expand {
    background-image: url(./../img/icons/expand.svg);
}

.expandable[aria-expanded="true"] .expand {
    background-image: url(./../img/icons/minimize.svg);
}


article {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.5em;
    min-height: calc(100vh - var(--offset-header) - var(--offset-footer));
    max-width: 100vw;
}

article::after {
    content: "";
    position: relative;
    height: 4em;
    z-index: -1;
}

picture {
    display: flex;
    justify-content: center;
}

.sectionNav {
    font-size: var(--font-section-nav);
    font-style: italic;
}

.sectionNav a {
    position: relative;
    display: block;
    padding: 1em 0.5em;
}

.sectionNav a::after {
    content: "";
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    height: 1em;
    width: 1em;
    background-image: url(./../img/icons/goto.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

picture img {
    width: 100%;
    height: auto;
    background-color: var(--loading-bg);
}

section li li {
    padding-left: 0.75em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-bg);
    height: var(--offset-footer);
    border-top: 1px solid var(--main-bg);
    display: grid;
    grid-template-areas: "previous start next search";
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

footer a[href="#"]:not(.start) {
    color: transparent;
    pointer-events: none;
}

footer a[href="#"]:not(.start)::before,
footer a[href="#"]:not(.start)::after {
    content: none;
}

.previous[href=""],
.previous[href="#"],
.next[href=""],
.next[href="#"] {
    display: none;
}

.previous {
    grid-area: previous;
    transform: rotate(180deg);
}

.start {
    grid-area: start;
    transform: rotate(-90deg);
}

.next {
    grid-area: next;
}


.previous,
.next,
.start {
    background-image: url(./../img/icons/arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
}

.openSearchModal:hover {
    cursor: pointer;
}

.openSearchModal {
    grid-area: search;
    padding: 1.25em;
    border-radius: 100vh;
    border: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.openSearchModal[data-searchopen="false"] {
    background-image: url(./../img/icons/search.svg);
}

.openSearchModal[data-searchopen="true"] {
    background-image: url(./../img/icons/close.svg);
    filter: invert(1);
}

.openSearchModal[data-searchopen="false"][data-results="true"] {
    background-image: url(./../img/icons/list.svg);
    border-radius: 0;
}

.warning {
    --icon-size-info: 2.5em;
    border: 1px dashed var(--accent-warning);
    padding: 0.75em;
    padding-left: var(--icon-size-info);
    font-weight: bold;
    font-size: var(--font-warning);
    position: relative;
    z-index: -1;
    max-width: 90%;
    margin: 0 auto;
}

.warning::before {
    content: "";
    position: absolute;
    min-height: var(--icon-size-info);
    min-width: var(--icon-size-info);
    left: calc(calc(var(--icon-size-info) / 2) * -1);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100vh;
    border: 1px solid var(--accent-warning);
    background-color: var(--main-bg);
    background-image: url(./../img/icons/info.svg);
    background-position: center;
    background-size: contain;
}

.listitem {
    font-size: 0.9em;
    margin-left: 1em;
}

.listitem::before {
    content: "*";
    margin-right: 1em;
}

#about {
    font-size: .7rem;
    line-height: 2;
    padding: 1em;
}

#about .warning {
    font-size: .8rem;
}

#about ul {
    list-style: circle;
}

#about li {
    margin-left: 2em;
    padding: .5em 0;
}

.signatur {
    text-align: right;
    padding-right: 3em;
}

#Uppdateringar_i_anvandarstodet li {
    margin-left: 1em;
}

.currentArticle {
    border-left: 3px solid orange;
}

.modal {
    display: none;
}

.modal.active {
    z-index: 1000;
    position: fixed;
    background-color: var(--overlay-dark);
    top: var(--offset-header);
    bottom: var(--offset-footer);
    left: 0;
    right: 0;
    display: grid;
    overflow: scroll;
}

.modal.active .close {
    --icon-size: 2.5em;
    position: fixed;
    top: calc(var(--offset-header) + 0.5em);
    right: 1em;
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: white;
    background-image: url(./../img/icons/close.svg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100vh;
    outline: 3px solid black;
}

.searchModal {
    padding: 1em;
    gap: 1.75em;
}

.searchModal>div {
    font-size: 1.2rem;
}

.inputContainer {
    display: grid;
    overflow: hidden;
}

.inputContainer[data-empty="true"] {
    grid-template-columns: auto 0 2em;
}

.inputContainer[data-empty="false"] {
    grid-template-columns: auto 2em 2em;
}

.searchModal input,
.searchModal button {
    padding: 0.5em;
    font-size: 1rem;
}

.searchModal button {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: white;
}

.searchModal button:hover {
    cursor: pointer;
}

.searchModal .inputContainer[data-empty="true"] .clear {
    transform: scale(0, 1);
}

.searchModal .inputContainer[data-empty="false"] .clear {
    transform: scale(1, 1);
}

.searchModal .inputContainer .clear {
    background-image: url(./../img/icons/trash.svg);
    background-color: black;
    filter: invert(1);
    transition: transform 50ms ease-in;
    transform-origin: right;
}

.searchModal .search {
    background-image: url(./../img/icons/search.svg);
}

.results li {
    padding: 0.5em;
}

.results a[data-visited="true"] {
    font-style: italic;
    text-decoration: line-through;
}

.foundResult {
    background-color: rgb(255 255 0 / .2);
    outline-color: rgb(255 255 0 / 1);
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 1px;
}

@media screen and (min-width: 600px) {

    :root {
        --font-normal: 0.9rem;
        --font-small: 0.8rem;
        --font-h1: 3rem;
        --font-h2: 1.6rem;
        --font-h3: 1.5rem;
        --font-section-nav: 0.8rem;
        --font-message: 0.9rem;
        --font-warning: 0.8rem;

        --offset-header: 15vh;
        --offset-footer: 5vh;
    }

    ::-webkit-scrollbar {
        width: 20px;
        background-image: linear-gradient(90deg, black 50%, var(--accent-bg));
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--accent-bg);
        border-radius: 100vh 0 0 100vh;
        border: 1px solid black;
        border-right: none;
    }

    ::-webkit-scrollbar-thumb:hover {
        outline: 2px solid var(--accent-bg);
        outline-offset: 2px;
    }

    header {
        justify-content: space-around;
    }

    nav span:hover,
    section ul span:hover {
        cursor: pointer;
    }

    nav a:hover::before,
    section ul a:hover:before,
    nav span:hover::before,
    section ul span:hover:before {
        transform: scaleX(1);
    }

    nav a::before,
    section ul a:before,
    nav span::before,
    section ul span:before {
        content: "";
        position: absolute;
        inset: 0;
        top: 98%;
        right: var(--icon-offset, 0);
        background-color: var(--pop-border-hover);
        transform: scaleX(0);
        transition: transform 150ms ease-in-out;
        transform-origin: left;
    }

    nav .close {
        display: none;
    }

    nav>ul {
        font-size: var(--font-small);
        position: fixed;
        inset: 0;
        top: var(--offset-header);
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 60%;
        justify-content: center;
        padding-bottom: var(--offset-footer);
        overflow-x: hidden;
        margin-bottom: auto;
    }

    main {
        display: grid;
        grid-template-columns: min(80%, 900px);
        justify-content: center;
    }

    main ul {
        margin-left: 1em;
    }

    article img:hover {
        cursor: pointer;
    }

    #about {
        font-size: var(--font-small);
    }

    .warning {
        --icon-size-info: 3em;
        max-width: 50%;
    }

    footer {
        gap: 0.5em;
        margin: 0 auto;
        border-radius: 10px;
        align-content: center;
        max-width: 900px;
    }

    .searchModal.active {
        overflow: auto;
        grid-template-columns: 50vw;
        justify-content: center;
    }

    .results li {
        margin-left: 1em;
    }

    .modal.active .close {
        --icon-size: 4em;
        right: 4vw;
    }

    .modal.active .close:hover {
        cursor: pointer;
    }

}